.header {
  /* height: 9vh; */
  min-height: 9vh;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 0 1rem;
  box-shadow: 1px 1px 8px #96969657;
}
.header_bg_template {
  /* background: #243485; */
  background: #fff;
}
.header_bg_document {
  background: #ffffff;
}
.header_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 0px;
}
.head-bar {
  width: 3rem !important;
  height: 3rem !important;
  background-color: #e3eeff;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
}
.bar-menu {
  width: 14rem;
  top: 2rem;
  left: 4rem;
  box-shadow: 2px 2px 8px #9696968a;
  border-radius: 6px;
}
.savee {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.savee button {
  background-color: #3c61ea;
  font-weight: 600;
  outline: none;
}
.savee .share-btn {
  background-color: transparent;
  border: 1px solid #bababa4a;
  box-shadow: 1px 1px 2px #aeaeae58;
}
#saving-buttonn svg {
  margin-right: 0;
  margin-left: 8px;
}
.head_btn {
  width: 40px;
  height: 100%;
}
.header_icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  padding-left: 10px;
}

.right_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header_icons > img,
svg:not(.view_mode svg, .mid_resizer svg) {
  width: 2rem !important;
  height: 22px;
  color: #1c2b48;
  /* margin-left: 33.9px; */
  /* margin-right: 20px; */
  cursor: pointer;
}

.header_icons > img:hover {
  color: #f1f1f1;
}
.header_p > p {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  color: #ffffff;
}
.header_user > img {
  cursor: pointer;
}

#midSection_containerr {
  margin-left: 205px;
}

.page_btn {
  background: transparent;
  border: none;
}
.cursor_pointer {
  cursor: pointer;
  padding: 8px 0 !important;
  border-bottom: 1px dashed grey;
}

.cursor_pointer:last-of-type:not(div.cursor_pointer) {
  border-bottom: none;
}

.cursor_pointer p {
  padding-left: 10px;
  margin: 0;
}

.temp_doc {
  display: flex;
  align-items: center;
  height: 25px;
}
.title-name {
  margin-left: 2rem;
  font-weight: 700;
}
.menu {
  opacity: 0;
  /* transform: translateY(-50px); */
  transition: opacity 2s ease-out;
}
.menu .cursor_pointer:hover {
  color: #00d3b0;
}

.cursor_pointer:hover svg {
  color: #00d3b0;
}

.menu.show {
  opacity: 1;
  /* transform: translateY(0); */
}
.head .copyBtnn {
  color: #fff;
  font-weight: 500;
}
.modal-header {
  background-color: #00d3b0;
  color: #fff;
}
.btn-close {
  color: #fff !important;
  background-color: #fff;
}

.view_mode_wrapper {
  position: relative;
}

.view_mode {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0 0 3px 1px #1c2b4885;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  letter-spacing: 0.1rem;
  color: #1c2b48;
  transition: all ease 0.3s;
}

.view_mode:hover {
  color: #fff;
  background-color: #1c2b48;
}

.mode_icon {
  margin-right: 5px;
  font-size: 1.3rem;
  margin-top: -4px;
}

@media screen and (max-width: 700px) {
  .mode_tag {
    display: none;
  }
}

/* @media screen and (max-width: 992px) {
  .title-name{
    font-size: 2rem;
  }
  #reject-button{
    margin-left: -440%;
    font-size: 12px;
  }
  #finalize-button{
    margin-left: -380%;
    font-size: 12px;
  }
  .header_icons{
    margin-left: -30px !important;
  }
  .header_p {
    margin-left: -50px;
    margin-top: 21px;
    max-width: 50%;
  }
} */
@media screen and (max-width: 992px) {
  .title-name {
    font-size: 2rem;
    margin-left: 0px;
  }
  #reject-button,
  #finalize-button {
    /* margin-left: -440%; */
    font-size: 12px;
  }
  /* #finalize-button {
    margin-left: -380%;
    font-size: 12px;
  } */
  .header_icons {
    margin-left: -30px !important;
  }
  .header_icons > img,
  svg:not(#move_icon svg, .view_mode svg, .mid_resizer svg) {
    width: 2rem !important;
  }
}
