#edit-container {
  background-color: #e3eeff;
}

.editSec {
  background-color: #ffffff;
}

.editSec_midSec {
  background: #e3eeff;
  /* width: 100%; */
  height: auto;
  display: flex;
  column-gap: 4rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.editSec_rightMenu {
  position: fixed;
  right: 0;
  padding: 15px 20px;
  background-color: #fbfbfb;
  max-width: 25%;
  min-height: 100vh;
  height: 85%;
  overflow-y: auto;
}

.finalize_reject {
  background: #363636;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.vis_hid {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}



@media screen and (min-width: 992px) {
  .editSec_rightMenu {
    top:12%
  }
}

@media screen and (min-width: 1279px) {
  .editSec_rightMenu {
    top:18%
  }
}
@media screen and (min-width: 1367px) {
  .editSec_rightMenu {
    top:12%
  }
}
