.editSec {
  background-color: #ffffff;
}
.editSec_midSec {
  background: #e3eeff;
  height: auto;
}
.editSec_rightMenu {
  position: fixed;
  right: 0;
  padding: 15px 20px;
  background-color: #fbfbfb;
  /* max-height: 600px; */
  height: 85%;
  overflow-y: auto;
}

.finalize_reject {
  background: #363636;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.vis_hid {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
